# Directories to ignore
.venv/
.mypy_cache
.ruff_cache
__pycache__
.vscode/
**/build/obj/
**/build/out/
**/build/dlls/
**/cppcheck_cache/
**/test/build/**

# File extensions to ignore

# Individual files to ignore
**/cppcheck_output.txt